.openzeppelin/*31337*.json
deployments/.nextstep
deployments/666666*
node_modules/
cache/
build/
typechain/
artifacts/
coverage*
.env
.vscode/
temp/*
dist/*
reports/*
diagrams/*
echidna/results/*
.DS_Store
echidna/results
diagrams/
.openzeppelin/unknown-666666.json
